Source: tftp-http-proxy
Section: admin
Priority: optional
Maintainer: Thulium <help@thulium.com>
Build-Depends: golang-go (>=1.7), debhelper (>= 9), dh-systemd (>= 1.5)
Standards-Version: 3.9.8
Homepage: https://github.com/thuliumcc/tftp-http-proxy

Package: tftp-http-proxy
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, systemd
Provides: tftp-http-proxy-service
Description: Simple tftp to http proxy
 tftp-http-proxy is a simple TFTP server that proxies all read
 requests to a backing HTTP server, and serves the response.
